@page
@model IndexModel
@{
    ViewData["Title"] = "Music Video";
}

<body>
    <header>
        <h1>One of My Favorite Songs</h1>
    </header>
    <main>
        <h2>"Sevmekten Kim Usanır - Ahde Vefa" by TARKAN </h2>
        <h3> "Who Gets Tired of Loving - Faithfulness to a Vow" <br></h3>
        <p1>
            Tarkan is a very famous turkish singer <br>
        </p1>
        <p2>Enjoy this timeless classic!<br><br></p2>

        <iframe  
            src="https://www.youtube.com/embed/1GJ_t4RkBI8?si=940dTW13VP7jWhmP"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <canvas id="bouncingBallCanvas" width="400" height="200"></canvas>
    </main>
    <footer>
        <p>&copy; Official TARKAN YouTube Channel.</p>
    </footer>
</body>